{% extends 'base.html' %}
{% block content %}

<h1>Kicks Detail</h1>
<div class="row">
  <div class="col s6">
    <div class="card">
        <div class="card-content">
          <span class="card-title">{{ kick.name }}</span>
          <p>Brand: {{ kick.brand }}</p>
          <p>ColorWay: {{ kick.colorway }}</p>
          {% if kick.releasedate %}
              <p>Release Date: {{ kick.releasedate }}</p>
            {% else %}
              <p>Release Date: Unknown</p>
            {% endif %}
        </div>
        <div class="card-action">
          <a href="{% url 'kicks_update' kick.id %}">Edit</a>
          <a href="{% url 'kicks_delete' kick.id %}">Delete</a>
        </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_viewing' kick.id %}" method="post">
      {% csrf_token %}
      {{ viewing_form.as_p }}
      <input type="submit" class="btn" value="Add Viewing">
    </form>
    <br>
    {% if kick.viewed_for_today %}
      <div class="card-panel teal-text center-align">{{kick.name}} is all booked up for today</div>
    {% else %}
      <div class="card-panel red-text center-align">{{kick.name}} is available for a viewing</div>
    {% endif %}
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Time Slot</th></tr>
      </thead>
      <tbody>
        {% for viewing in kick.viewing_set.all %}
          <tr>
            <td>{{viewing.date}}</td>
            <td>{{viewing.get_timeslot_display}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ kick.name }}'s Laces</h3>
    {% if kick.laces.count %}
      {% for lace in kick.laces.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ lace.style }} <span style="color: {{ lace.color }}">{{ lace.color }}</span>
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'disassoc_lace' kick.id lace.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Remove</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Laces :(</h5>
    {% endif %}
  </div>
  <!-- Available laces will come after this line -->
  <div class="col s6">
    <h3>Available Laces</h3>
    {% if laces.count %}
      {% for lace in laces.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              {{ lace.style }} <span style="color: {{ lace.color }}">{{ lace.color }}</span> 
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_lace' kick.id lace.id %}" method="post">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{kick.name}} Already Has All Laces Available</h5>
    {% endif %}
  </div>
</div>

<script>
  var dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  var selectEl = document.getElementById('id_timeslot');
  M.FormSelect.init(selectEl);
</script>

{% endblock %}